/*
      Ustedes saben kien soyyo
    el de los ticket y la perra
            montao
*/
@media screen and (max-width: 500px) {
  a {
    color: blue;

  }
}
body {
  color: black;
  }
.page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 2px solid blue;
  }
  .inner {
    position: relative;
    height: 99.4%;
    width: 99.4%;
    border: 2px dotted red;
  }
#pageOne {

}

.btn {
  position: relative;
  top: 24px;
  float: right;
  width: 43px;
  padding: 20px;
  border: 2px solid gray;
}
#enter {
    position: relative;
    top: 50%;
    left: 46%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
}
#login {
}
#signup {

}

#stats {
  width: 89.5%;
  height: 69%;
  border: 2px dotted blue;

}

.footer {
  width: 100vw;
  height: 100px;
  border: 2px dotted green;
}
