/*
      Ustedes saben kien soyyo
    el de los ticket y la perra
            montao
*/
@media screen and (max-width: 500px) {
  a {
    color: blue;
  }
}
.font{
  font-family: 'Slabo 27px', serif;
}
.font.thick{
  /*normal weight*/
}
.font.skinny{
  font-weight:lighter;
}
body {
  color: black;
  margin: 0px;
  }
.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 2px solid blue;
  }
.inner {
    position: relative;
    height: 99.4%;
    width: 99.4%;
    border: 2px dotted red;
  }
#pageOne > .inner {
  background-image: url('/img/dragonslayer-pantheon-lol-hd-1920x1080.jpg');
  overflow: hidden;
}

.btn {
  position: relative;
  top: 24px;
  float: right;
  width: 5em;
  padding: 10px;
  border: 2px solid gray;
  text-align: center;
  text-decoration: none;
}
#enter {
  position: relative;
  top: 50%;
  left: 41%;
  padding: 20px 50px 20px 50px;
  margin-left:auto;
  margin-right:auto;
  width: 20em;
  height: 20em;
  border: 2px solid red;
}

#login {
}
#signup {

}

#stats {
  width: 89.5%;
  height: 69%;
  border: 2px dotted blue;

}

.footer {
  width: 100vw;
  height: 100px;
  border: 2px dotted green;
}
