@media screen and (max-width: 500px) {
  body {
    color: blue;
  }

}

body {
}
.page {
  width: 100vw;
  height: 100vh;
  border: 2px solid red;

}
.inner {
  width: 100%;
  height: 100%;
  border: 2px dotted black;

}

.user {

}

#pic {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}
