//- send spinner before socket.io connection made
extends layout
block css
  link(href='/css/th.css' rel='stylesheet')
  link(href='css/index.css' rel='stylesheet')
    
block content
  .pageOne
    .inner
      a.btn(id='enter' href='enter' style='margin: 15px') Enter
      a.btn(id='login' href='login') Login
    .three#THREE 
  script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js')
  script(src='components/jquery/dist/jquery.min.js')
  script(src='//cdn.socket.io/socket.io-1.3.7.js')
  script(src='js/jq/uuser/blizzapi.js')
  //- script(src='js/tquery/tqueryboilerplate/tquery-all.js')
  script(src='components/angular/angular.min.js')
  //- script(src='js/tquery/tq.js')
  //- script(src='js/th/config.b.js')
  script(src='js/index.js')
    //-       ' ' ' '
    //-       | | | |
    //-    @@@@@@@@@@@@@
    //-    {~ ~ ~ ~ ~ ~}
    //-    {~ ~ ~ ~ ~ ~}
    //-  @@@@@@@@@@@@@@@@@
    //- {~ * ~ * ~ * ~ * ~}
    //- {~ * ~ * ~ * ~ * ~}
    //- @@@@@@@@@@@@@@@@@@@
    //-    _____)*(_____
    //-   /_____________\
