extends layout
block css
  link(href='/css/th.css' rel='stylesheet')
block content
  .pageOne
    .inner
      a(href='enter' style='margin: 15px') Enter
      a(href='login') Login
    .three#THREE 
  script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js')
  script(src='components/angular/angular.min.js')
  script(src='js/th/index.js.js')
  
