//- #create a container div and include this file
//- .tabs(class='container')
//- include ./tabs.jade

ul(class='nav nav-tabs' role='tablist')
  li.active
    a(href='#wow' role='tab' data-toggle='tab').
      WOW
  li
    a(href='#lol' role='tab' data-toggle='tab').
      LOL
  li
    a(href='#sc2' role='tab' data-toggle='tab').
      SC2
  li
    a(href='#dblo' role='tab' data-toggle='tab').
      DBLO

 //- tab panes
.tab-content
  div(id='wow' class='tab-pane fade in active')
    h1 WOW
    p Append data here
  div(id='lol' class='tab-pane fade')
    h1 LOL
    p Append data here
  div(id='sc2' class='tab-pane fade')
    h1 SC2
    p Append data here
  div(id='dblo' class='tab-pane fade')
    h1 DBLO
    p Append data here
    
style(type='text/css').
  .nav.nav-tabs {
    color: blue;``

  }

  .tab-pane {


  }

  .tab-pane.active {

  }

  .tab-pane>p {
    color: red;

  }


script(src='components/jquery/dist/jquery.min.js')      
script(src='components/bootstrap/dist/js/bootstrap.min.js')
script(src='js/jq/blizzapi/statstable.js')    
    
