extends layout
block css
  link(href='components/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
  link(href='css/userprivate.css' rel='stylesheet')
block head_script
  script(src='components/underscore/underscore-min.js')
  script(src='components/jquery/dist/jquery.min.js')
block content
  .page(ng-app='pageApp')
    .inner
      .wager(ng-controller='wagerController')
        input(id='rtext' type='text')
        button(id='riotquery') Riot Query
        br
        .container
          a(href='/user/addcard' class='col-sm-2.4') Add Credit Card
          a(href='/user/addtestcard' class='col-sm-2.4') Add Test Card
          a(href='makewager/ll' class='col-sm-2.4') Makewager/ll
          a(href='')
          a(href='signout' class='col-sm-2.4') Signout
        
        .modal
          form(role='form' action='/test_wager' method='POST') 
            input(name='gametype' type='text' value='wow' placeholder='Select Game')
            input(id='password' name='password' type='text' placeholder='password')
            input(id='submitButton' type='submit' text='Submit')
      .user(ng-controller='profileController')
          .profpic
            img(id='pic' src='img/Vicente.jpg') 
          .username Username: #{username}
          .email Email: #{email}
          .tagline 
          p.fineprint This page only visible to the user
      .statstable(class='container')
        include ./statstable.jade
      .contests(class='container')
        include ./opengamestable.jade
        style.
          .contests, .statstable{width:100%;}
        //- contests are rows of squares
        //- click a square to enter
          //- modal enter amount etc.
          
  .footer
    .inner None
          
block body_scripts

style(type='text/css').
  @media screen and (max-width: 500px) {
    body {
      color: blue;
    }

  }

  body {
  }
  .page {
    width: 100vw;
    height: 100vh;
    border: 2px solid red;

  }
  .inner {
    width: 100%;
    height: 100%;
    border: 2px dotted black;

  }

  .user {

  }

  #pic {
    width: 100px;
    height: 100px;
    border: 2px solid red;
  }

  
