extends layout
block css
  link(href='components/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
  link(href='css/userprivate.css' rel='stylesheet')
block head_script
block content
  .page(ng-app='pageApp')
    .inner
      .wager(ng-controller='wagerController')
        input(id='rtext' type='text')
        button(id='riotquery') Riot Query
        br
        .container
          a(href='/user/addtestcard' class='col-sm-4') Add Test Card
          a(href='makewager/ll' class='col-sm-4') Makewager/ll
          a(href='signout' class='col-sm-4') Signout
        
        .modal
          form(role='form' action='/test_wager' method='POST') 
            input(name='gametype' type='text' value='wow' placeholder='Select Game')
            input(id='password' name='password' type='text' placeholder='password')
            input(id='submitButton' type='submit' text='Submit')
      .user(ng-controller='profileController')
          .profpic
            img(id='pic' src='img/Vicente.jpg') 
          .username Username: #{username}
          .email Email: #{email}
          .tagline 
          p.fineprint This page only visible to the user
      .statstable(class='container')
        include ./statstable.jade
      .contests(class='container')
        include ./opengamestable.jade
        style.
          .contests, .statstable{width:100%;}
        //- contests are rows of squares
        //- click a square to enter
          //- modal enter amount etc.
          
  .footer
    .inner None
//- stlye.
//-   .nav-tabs {
//-     margin: 0;
//-     padding: 0;
//-     border: 0;    
//-   }
//-   .nav-tabs > li > a {
//-       background: #DADADA;
//-       border-radius: 0;
//-       box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
//-   }
//-   .nav-tabs > li.active > a,
//-   .nav-tabs > li.active > a:hover {
//-       background: #F5F5F5;
//-       box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
//-   }
//- 
//-   .tab-pane {
//-       background: #F5F5F5;
//-       box-shadow: 0 0 4px rgba(0,0,0,.4);
//-       border-radius: 0;
//-       text-align: center;
//-       padding: 10px;
//-   }          
block body_scripts
  script(src='js/jq/userprivate/riot.test.js')
  script(src='components/underscore/underscore-min.js')
  script(src='components/jquery/dist/jquery.min.js')
