//- SHOULD CHANGE TO user.private.jade and user.public.jade
extends layout
block css
  link(href='css/user.css')
block content
  .page(ng-app='userApp')
    .user(ng-controller='userController')
      img(id='profpic' src='http://placehold.it/150x350') 
      .user 
        .username.
          {{username}}
        .tagline.
          enilgaT
      .mystats.
        mystats box
      .genstat.
        general blizzard api query
      .mywagers.
        currently pending wagers
      .chat.
        chat modal
    .stats_api.
      api rankings here .stats_api
      
block body_scripts
  script(src='components/underscore/underscore-min.js')
  script(src='components/angular/angular.min.js')
  script(src='js/ng/user/user.js')
  
